<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="biztobiz" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>B2B Functionality</label>
            <tab>augustash</tab>
            <resource>Augustash_B2b::config_biztobiz</resource>
            <group id="functionality" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                <label>Features</label>
                <comment><![CDATA[Enabling or disabling the features listed below affects only the frontend. In the Admin, the functionality is always available for management and configuration.]]></comment>
            </group>
        </section>
    </system>
</config>
